[submodule "https://github.com/g-truc/glm.git"]
	path = https://github.com/g-truc/glm.git
	url = libs/glm
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "shaderc"]
	path = libs/shaderc
	url = https://github.com/google/shaderc.git
[submodule "SPIRV-Tools"]
	path = libs/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
