[submodule "glm"]
	path = Libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vk-bootstrap"]
	path = Libs/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "VulkanMemoryAllocator"]
	path = Libs/VulkanMemoryAllocator
	url = https://github.com/duplexsystem/VulkanMemoryAllocator.git
[submodule "VulkanMemoryAllocator-Hpp"]
	path = Libs/VulkanMemoryAllocator-Hpp
	url = https://github.com/duplexsystem/VulkanMemoryAllocator-Hpp.git
